.seachInput {
  padding: 1rem 4rem;
  width: 30rem;
  font-size: 1rem;
  border-radius: .3rem;
  border: none;
  background: url('../assets/search.svg'), #fff;
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 7% 50%;
  outline: none;
  box-shadow: 2px 2px 5px 1px #aaa;
  margin-bottom: 3rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px rgba($color: #aaa, $alpha: .6);
  }
}