.searchField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  gap: 3rem;
  margin: 0 auto;
}


.card li {
  background: #fff;
  color: #123;
}

.wrapper {
  height: 8rem;
  min-height: 8rem;
}

.wrapper img {
  object-fit: cover;
}



.description {
  padding: 1rem;


  h2 {
    margin: .5rem 0;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h4 {
    font-size: .9rem;
    margin: .3rem 0;

    span {
      font-weight: 400;
      font-family: .7rem;
    }
  }
}


@media (max-width:960px) {
  .searchField{
    padding: 0 3%;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;

    padding: 0 3%;

    li {
      height: 70vh;


      .wrapper {
        min-height: 70%;

        img {
          object-fit: cover;
        }
      }


      .description {
        min-height: 30%;
      }
    }
  }
}

@media (max-width:640px) {

  .searchField {
    display: block;
    padding: 0 3%;

    input{
      margin-bottom: 1rem;
      width: 100%;
    }
    select{
      width: 50%;
    }
  }
}